body
{
    background-color: black;
    color:white;
    margin:0;
}
header
{
    text-align: center;
    border-bottom:solid 1px darkGray;
}
article
{
    text-align: center;
}
#canva
{
    border: solid 1px darkGray;
    margin: auto;
    background-color: Gray;
    width: 700px;
    text-align: center;
    padding: 20px;
}
canvas
 {
    background-color: darkGray;
    border: 2px solid red;
    margin: auto;
 }
input
{
    margin: 5px;
}